* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; // blokuje poziomy scroll
  background-color: rgb(118, 66, 66); // tło całej strony
  font-family: 'Arial', sans-serif;
  color: #fff; // tekst w białym kolorze
}

section {
  min-height: 100vh;
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; // dla elementów wewnątrz
}